<div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle">
    Paquete
</div>
<div id="items" *ngIf="packages">
    <div id="packages" *ngFor="let item of packages">
        <table>
            <tr>
                <td colspan="4">Paquete {{ item.lineId }}</td>
            </tr>
            <tr>
                <td>
                    Alto:<br>
                    {{ item.height }}
                </td>
                <td>Ancho:<br>
                    {{ item.width }}
                </td>
                <td>
                    Largo:<br>
                    {{ item.length }}
                </td>
                <td>Peso:<br>
                    {{ item.weight }}
                </td>
            </tr>
        </table>
    </div>
</div>
