<div class="flex flex-col max-w-120 md:min-w-200 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-blue-900 text-on-primary">
    <div class="text-lg font-extrabold modal-center-aligment">Solicitud {{shipmentOrder.orderId}}</div>
    <button mat-icon-button [tabIndex]="-1" (click)="discard()">
    <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Form -->
  <form class="flex flex-col flex-auto p-12 sm:p-12 overflow-y-auto" [formGroup]="orderForm">

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput placeholder="" formControlName="orderId" readonly="true" disabled="true">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de solicitud</mat-label>
      <input matInput placeholder="" formControlName="applicationDate" readonly="true" disabled="true">
    </mat-form-field>

    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-0 ">
      <div class="flex items-center mt-4 sm:mt-0">
        <button class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">Cancelar</button>
        <button class="text-on-primary sm:order-last bg-blue-900" (click)="save()" mat-flat-button>Guardar</button>
      </div>
    </div>
  </form>
</div>
<style>
  .modal-center-aligment {
    margin: 0 auto;
  }
</style>
