<div class="flex flex-col max-w-220 md:min-w-200 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-blue-900 text-on-primary">
    <div class="text-lg font-extrabold modal-center-aligment">Solicitud {{ order?.orderId }}</div>
    <button mat-icon-button [tabIndex]="-1" (click)="discard()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Compose form -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="orderForm">

    <div class="order-container">
      <mat-form-field appearance="outline" style="width: 120px;" class="te-form-field-disable" >
        <mat-label>ID</mat-label>
        <input matInput [formControlName]="'id'" placeholder="ID" readonly="true">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 120px;" class="te-form-field-disable" >
        <mat-label>Fecha solicitud</mat-label>
        <input matInput [formControlName]="'applicationDate'" placeholder="Fecha solicitud" readonly="true">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 170px;">
        <mat-label>Pago</mat-label>
        <mat-select [formControlName]="'paymentState'" placeholder="Pago">
          <ng-container *ngFor="let item of paymentStates">
            <mat-option [value]="item.id">
              <span class="flex items-center">
                <span class="ml-2">{{item.name}}</span>
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
        <button mat-icon-button type="button" matSuffix (click)="clearInput('paymentState')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 170px;">
        <mat-label>Estado envío</mat-label>
        <mat-select [formControlName]="'shipmentState'" placeholder="Estado envío">
          <ng-container *ngFor="let item of shipmentStates">
            <mat-option [value]="item.id">
              <span class="flex items-center">
                <span class="ml-2">{{item.name}}</span>
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
        <button mat-icon-button type="button" matSuffix (click)="clearInput('shipmentState')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 250px;">
        <mat-label>Transportador</mat-label>
        <mat-select [formControlName]="'transporterId'" placeholder="Transportador">
          <ng-container *ngFor="let item of drivers">
            <mat-option [value]="item.id">
              <span class="flex items-center">
                <span class="ml-2">{{item.fullName}}</span>
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
        <button mat-icon-button type="button" matSuffix (click)="clearInput('transporterId')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle">Solicitante</div>

    <app-shipment-person-info [data]="order.customer" *ngIf="order.customer"></app-shipment-person-info>

    <div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle">Remitente</div>

    <app-shipment-person-info [data]="order.sender" *ngIf="order.sender"></app-shipment-person-info>

    <div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle">Destinatario</div>

    <app-shipment-person-info [data]="order.recipient" *ngIf="order.recipient"></app-shipment-person-info>

    <div>
        <div style="width:50%; display:inline-block;">
            <app-shipment-package-list></app-shipment-package-list>
        </div>
        <div style="width:50%; display:inline-block;">
            <app-shipment-total
                [initialPrice]="order.initialPrice"
                [taxes]="order.taxes"
                [totalPrice]="order.totalPrice"
            ></app-shipment-total>
        </div>
    </div>

    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-0" style="padding-top: 24px;">
      <div class="flex items-center mt-4 sm:mt-0">
        <!-- Discard -->
        <button class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">Cancelar</button>
        <button class="text-on-primary sm:order-last bg-blue-900" (click)="save()" mat-flat-button>Guardar</button>
      </div>
    </div>
  </form>
</div>
  <style>
    .modal-center-aligment {
      margin: 0 auto;
    }
  </style>
