<div class="flex flex-col max-w-120 md:min-w-200 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-blue-900 text-on-primary">
    <div class="text-lg font-extrabold modal-center-aligment">Solicitud {{ order?.orderId }}</div>
    <button mat-icon-button [tabIndex]="-1" (click)="discard()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <!-- Compose form -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="orderForm">

    <div class="order-container">
      <mat-form-field appearance="outline" class="custom-form-field" style="width: 100px;">
        <mat-label>ID</mat-label>
        <input matInput [formControlName]="'id'" readonly="true" disabled="true">
        <button mat-icon-button type="button" matSuffix (click)="clearInput('id')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field" style="width: 150px;">
        <mat-label>Fecha de solicitud</mat-label>
        <input matInput [formControlName]="'applicationDate'" readonly="true" disabled="true">
        <button mat-icon-button type="button" matSuffix (click)="clearInput('applicationDate')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field" style="width: 170px;">
        <mat-label>Estado envío</mat-label>
        <mat-select [formControlName]="'shipmentState'" readonly="true" disabled="true">
          <ng-container *ngFor="let item of shipmentStates">
            <mat-option [value]="item.id">
              <span class="flex items-center">
                <span class="ml-2">{{item.name}}</span>
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
        <button mat-icon-button type="button" matSuffix (click)="clearInput('shipmentState')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-form-field" style="width: 250px;">
        <mat-label>Transportador</mat-label>
        <mat-select [formControlName]="'transporterId'" readonly="true" disabled="true">
          <ng-container *ngFor="let item of drivers">
            <mat-option [value]="item.id">
              <span class="flex items-center">
                <span class="ml-2">{{item.fullName}}</span>
              </span>
            </mat-option>
          </ng-container>
        </mat-select>
        <button mat-icon-button type="button" matSuffix (click)="clearInput('transporterId')">
          <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
          </mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label> Precio kilo inicial</mat-label>
      <input matInput [formControlName]="'initialKiloPrice'">
      <button mat-icon-button type="button" matSuffix (click)="clearInput('initialKiloPrice')">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Precio kilo adicional</mat-label>
      <input matInput [formControlName]="'additionalKiloPrice'">
      <button mat-icon-button type="button" matSuffix (click)="clearInput('additionalKiloPrice')">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Precio mc3 </mat-label>
      <input matInput [formControlName]="'priceCm3'">
      <button mat-icon-button type="button" matSuffix (click)="clearInput('priceCm3')">
        <mat-icon class="icon-size-4" [svgIcon]="'heroicons_solid:x-circle'">
        </mat-icon>
      </button>
    </mat-form-field>

    <!-- Actions -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-0 ">
      <div class="flex items-center mt-4 sm:mt-0">
        <!-- Discard -->
        <button class="ml-auto sm:ml-0" mat-stroked-button (click)="discard()">
          Cancelar
        </button>
        <button class="text-on-primary sm:order-last bg-blue-900" (click)="save()" mat-flat-button>
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
  <style>
    .modal-center-aligment {
      margin: 0 auto;
    }
  </style>
