.order-container mat-form-field + mat-form-field {
  margin-left: 8px;
  font-size: 14px;
}

.order-right-align {
  text-align: right;
}

input.order-right-align::-webkit-outer-spin-button,
input.order-right-align::-webkit-inner-spin-button {
  display: none;
}

.te-form-field {
  font-size: 14px;
  height: 10px;
  margin-top: 3px;
  margin-bottom: -1.25em;

  mat-datepicker-toggle {
      font-size: 14px;
  }

  input.mat-input-element {
      padding-bottom: 2px;
      font-size: 14px;
  }
}

.te-form-field-disable {
  pointer-events: none;
}

.dialog-subtitle {
    padding-top: 18px;
    text-align: center;
    color: #3B3B89 !important;
}
