<mat-grid-list cols="3" rowHeight="100%">
    <mat-grid-tile>
      <div class="te-login-bg">
        <img src="./assets/img/te-login.png" alt="" width="85%" class="te-login-img"/>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
      <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">
          <h2 style="font-size: 35px;">Ingresar como administrador</h2>
          <mat-form-field class="item-width" appearance="outline">
            <mat-icon matPrefix>alternate_email</mat-icon>
            <mat-label>Correo electrónico</mat-label>
            <input
              matInput
              placeholder="Login"
              autocomplete="off"
              formControlName="user"
              type="text"
            />
          </mat-form-field>
          <mat-form-field class="item-width" appearance="outline">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              placeholder="Clave"
              autocomplete="off"
              formControlName="password"
              type="password"
            />
          </mat-form-field>
          <br />
          <button
            type="submit"
            mat-raised-button
            class="item-width button"
            color="primary"
            [disabled]="form.invalid"
          >
            Iniciar Sesión
          </button>
        </form>
      </div>
    </mat-grid-tile>
</mat-grid-list>