<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">
      <img src="./assets/img/user.png" alt="" width="50%" />
      <h1>Ingrese como administrador</h1>
      <mat-form-field class="item-width" appearance="outline">
        <mat-icon matPrefix>alternate_email</mat-icon>
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          placeholder="Login"
          autocomplete="off"
          formControlName="user"
          type="text"
        />
      </mat-form-field>
      <mat-form-field class="item-width" appearance="outline">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Clave"
          autocomplete="off"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <br />
      <button
        type="submit"
        mat-raised-button
        class="item-width button"
        color="primary"
        [disabled]="form.invalid"
      >
        Iniciar Sesión
      </button>
    </form>
  </div>
</div>
