<div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle">
    Costos del Servicio
</div>

<div id="packages">
    <div style="padding-top: 10px;">
        <div class="cost-text" style="width:50%; display:inline-block;">Valor inicial</div>
        <div class="cost-text numeric-text" style="width:50%; display:inline-block;">$ {{ initialPrice }}</div>
    </div>
    <div style="padding-top: 10px;">
        <div class="cost-text" style="width:50%; display:inline-block;">IVA 19%</div>
        <div class="cost-text numeric-text" style="width:50%; display:inline-block;">$ {{ taxes }}</div>
    </div>
    <div style="padding-top: 10px;">
        <div class="total-text" style="width:50%; display:inline-block;">TOTAL</div>
        <div class="total-text numeric-text" style="width:50%; display:inline-block;">$ {{ totalPrice }}</div>
    </div>
</div>
