<div class="mt-12 sm:mt-0 text-2xl font-bold leading-tight tracking-tight dialog-subtitle" style="padding-top: 20px;">Costos del Servicio</div>

<div id="total">
    <table>
        <tr>
            <td><span class="cost-text">Valor inicial</span></td>
            <td class="numeric-text"><span class="cost-text">$ {{ initialPrice }}</span></td>
        </tr>
        <tr>
            <td><span class="cost-text">IVA 19%</span></td>
            <td class="numeric-text"><span class="cost-text">$ {{ taxes }}</span></td>
        </tr>
        <tr>
            <td><span class="total-text">TOTAL</span></td>
            <td class="numeric-text"><span class="total-text">$ {{ totalPrice }}</span></td>
        </tr>
      </table>
</div>
