<div class="container">
  <mat-toolbar>
    <span>Crear Administradores</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="form">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field class="item-width" appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input
                      matInput
                      placeholder="Correo"
                      autocomplete="off"
                      type="text"
                      formControlName="email"
                    />
                    <mat-icon matSuffix class="material-icons-outlined">cancel</mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="5">
                <img src="./assets/img/user.png" width="250px" height="250px">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="item-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Nombre"
                  autocomplete="off"
                  type="text"
                  formControlName="firstName"
                />
                <mat-icon matSuffix class="material-icons-outlined">cancel</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="item-width" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input
                  matInput
                  placeholder="Apellido"
                  autocomplete="off"
                  type="text"
                  formControlName="lastName"
                />
                <mat-icon matSuffix class="material-icons-outlined">cancel</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="item-width" appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input
                  matInput
                  placeholder="Teléfono"
                  autocomplete="off"
                  type="text"
                  formControlName="phone"
                />
                <mat-icon matSuffix class="material-icons-outlined">cancel</mat-icon>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-form-field class="item-width" appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="role">
                  <mat-option *ngFor="let item of roles" [value]="item.value">
                    {{item.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-raised-button style="margin-right: 20px">Cancelar</button>
              <button mat-raised-button color="primary">Aceptar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
  </mat-card>
</div>
